/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  background: rgb(5, 5, 2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(205, 207, 208);
}
img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 300px;
}

.description {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
